<div class="container">
	
	<div class="row">
		
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			
			<h3>Busca</h3>

			<div class="form-group">
				<label for="search"></label>
				<input type="search" class="form-control" name="" placeholder="Digite sua busca"
					#searchBox
					(keyup)="search(searchBox.value)">
			</div>

			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>

		</div>

	</div>

</div>